<form [formGroup]="todoForm" (ngSubmit)="addTodoItem()">
  <ul class="todoItem" *ngFor="let list of todoList">
    <li>
      <input
        type="checkbox"
        formControlName="checkTodo"
        (change)="handleChange()"
      />
      {{ list.todo }}
    </li>
    <button type="button" (click)="deleteTodo(list.id)">
      <i class="fa-solid fa-trash"></i>
    </button>
  </ul>
  <input type="text" placeholder="add a todo" formControlName="addTodo" />
  <button type="submit" class="btn btn-success">ADD</button>
</form>
