<div class="card text-center">
  <form [formGroup]="todoForm" (ngSubmit)="addTodoItem()">
  <div class="card-header">
    <select formControlName="statusTodo" class="form-select form-select-sm" (change)="changeSelectedStatus($event)">
      <option *ngFor="let status of todoStatus">{{ status }}</option>
    </select>
  </div>
  <div class="card-body">
      <ul class="todoItem" *ngFor="let list of todoList">
        <li [ngClass]="{ completed: list.status === 'completed' }">
          <input
            type="checkbox"
            formControlName="checkTodo"
            (change)="handleChange(list.id)"
          />
          {{ list.todo }}
        </li>
        <button type="button" (click)="deleteTodo(list.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </ul>
      <div class="d-flex">
        <input
          class="form-control rounded-0"
          type="text"
          placeholder="add a todo"
          formControlName="addTodo"
        />
        <button type="submit" class="btn btn-success rounded-0">ADD</button>
      </div>
    </div>
  </form>
</div>
